## Build generated
/build/
*.xcodeproj
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcuserdata/

# Xcode
.DS_Store
.DS_Store
DerivedData/
UserInterfaceState.xcuserstate
xcuserdata/

#CocoaPods
SampleApp/Pods/
/Podfile.lock
/Pods.xcodeproj/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM